<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Atorvia POC</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="css/component.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" type="text/css" href="css/style.css" />
<script src="js/modernizr.custom.js"></script>
</head>

<body>
<main id="st-container" class="st-container">
    <div class="st-pusher">
        <div class="st-content">
            <div class="st-content-inner">
            	<div class="main clearfix">
                    <footer>
                    	<div class="container">
                        	<div class="row">
                            	<div class="col-sm-5">
                                	<div class="footer-logo">
                                    	<a href="javascript:void(0)">ATORVIA</a>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                                    <div class="follow-us">
                                    	<p>Follow us on social network</p>
                                    </div>
                                    <div class="social-link">
                                    	<a href="javascript:void(0)"><img src="images/facebook.png" alt=""/></a>
                                        <a href="javascript:void(0)"><img src="images/twitter.png" alt=""/></a>
                                        <a href="javascript:void(0)"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </footer>
                </div>
    		</div>
         </div>
    </div>
</main>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<script src="js/classie.js"></script>
<script src="js/sidebarEffects.js"></script>
</body>
</html>
