<table class="table">
  <thead>
    <tr>
      <th data-field="title">Booking Date</th>
      <th data-field="heading">Tour</th>
      <th data-field="summary">Departure Date</th>
      <th data-field="summary">Contact Person</th>
      <th data-field="summary">Travellers</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr  class=""
      *ngFor="let page of pageArr"
      [attr.data-page-id]="page._id"
      [ngClass]="{'red accent-1': page.deleted, 'red lighten-4': page.active === false}"
      [hidden]="page.deleted">
      <td class="date-time">{{page.bookingDate | date}}</td>
      <td class="tour-name"><a [routerLink]="['/bookings/view', page._id]">{{page.tour.name}}</a></td>
      <td class="departure-date">{{page.startDate | date}}</td>
      <td class="contact-person">
        <span class="user-img">
          <img *ngIf="!page.user?.image?.url" src="images/user.png" />
          <img *ngIf="!!page.user?.image?.url" src="uploads/images/{{page.user?.image?.id}}-30-30.jpg" />
        </span>
        <span class="name">{{page.user?.firstName}} {{page.user?.lastName}}</span>
      </td>
      <td class="travellers">{{page.travellers?.length}}</td>
      <td class="action-td">
        <div class="btn-group" *ngIf="page.confirmed == false && page.cancelled == false">
          <button type="button" class="btn btn-secondary"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Action
          </button>
          <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split">
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="javascript:void(0);" (click)="approveBooking(page)">Approve</a>
            <a class="dropdown-item" href="javascript:void(0);" (click)="disapproveBooking(page)">Deny</a>
          </div>
        </div>
      </td>
    </tr>
    <tr *ngIf="itemsSize==0">
      <td colspan="5">
        No records have been added yet.
      </td>
    </tr>
  </tbody>
</table>
