<div class="login-wrap">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6 side-images">
				<div class="table-wrapper">
					<div class="center-content">
						<h3 class="title-line">ATORVIA</h3>
						<p>Mauris non tempor quam, et lacinia sapien. Mauris accumsan eros eget libero posuere vulputate. Etiam elit elit, elementum sed varius at, adipiscing vitae est.</p>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="table-wrapper side-form">
					<div class="center-content login-form">
						<form [formGroup]="loginForm" #f="ngForm" (ngSubmit)="login()" id="input-icon">
							<div class="form-group">
								<label for="loginEmail">Email</label>
								<div class="input-wrap">
									<input type="email" class="form-control" placeholder="Email" formControlName="email"/>
									<span><i class="fa fa-envelope" aria-hidden="true"></i></span>
								</div>
								<div *ngIf="loginForm.controls['email'].errors && loginForm.controls['email'].touched" class="has-error">
									<div [hidden]="!loginForm.controls['email'].errors.required">You have to fill in Email to login.</div>
									<div [hidden]="!loginForm.controls['email'].errors.minlength">Min 5 characters required.</div>
									<div [hidden]="!loginForm.controls['email'].errors.maxlength">Max 50 characters allowed.</div>
									<div [hidden]="!loginForm.controls['email'].errors.validateEmail">Invalid email address.</div>
								</div>
							</div>
							<div class="form-group">
								<label for="loginPassword">Password</label>
								<div class="input-wrap">
									<input type="password" class="form-control" placeholder="Password" formControlName="password"/>
									<span><i class="fa fa-lock" aria-hidden="true"></i></span>
								</div>
								<div *ngIf="loginForm.controls['password'].errors && loginForm.controls['password'].touched" class="has-error">
									<div [hidden]="!loginForm.controls['password'].errors.required">You have to fill in Password to login.</div>
									<div [hidden]="!loginForm.controls['password'].errors.minlength">Minimum 8 characters required.</div>
									<div [hidden]="!loginForm.controls['password'].errors.maxlength">Maximum 30 characters allowed.</div>
								</div>
							</div>
							<div class="form-group">
								<div class="checkbox">
									Remember me for 30 days
									<label class="switch">
										<input type="checkbox" [checked]="rememberMe" (change)="rememberMe = $event.target.checked" />
										<div class="slider">
											<span class="on">On</span>
											<span class="off">Off</span>
										</div>
									</label>
								</div>
							</div>
							<div class="form-group forget-pass">
								<div class="row">
									<div class="col-lg-6 push-lg-6">
										<button type="submit" class="btn green-btn" [disabled]="!loginForm.valid">Login</button>

									</div>
									<div class="col-lg-6 pull-lg-6 forget-pass-link">
										<a [routerLink]="['/recover']">Forgot Password?</a>
									</div>
								</div>
							</div>
							<div class="form-group add-account">
								<div class="row">
									<div class="col-7">
										<a href="javascript:void(0)">Don't have an account?</a>
									</div>
									<div class="col-5 text-right">
										<a [routerLink]="['/signup']" class="green-text">Sign up now</a>
									</div>
								</div>

								<div class="row">
									<div class="col-7">
										<a href="javascript:void(0)">Didn't get verification email?</a>
									</div>
									<div class="col-5 text-right">
										<a [routerLink]="['/resend-email']" class="green-text">Resend it Now</a>
									</div>
								</div>
							</div>
						</form>

						<!--<div [hidden]="error == ''">
							<p class="md-warn" layout="row" layout-fill layout-padding layout-margin>
								<p class="md-body-1 has-error">{{ error }}</p>
							</p>
						</div>-->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
