<header-main></header-main>
<main>
  <div class="grey-bg step-1 step-2">
    <div class="container">
          <div class="row">
              <div class="col-sm-12">
                  <h3 class="tour-head">New Tour</h3>
              </div>
          </div>
          <div class="row">
              <div class="col-md-4">
                  <ul class="tab-list">
                      <li class="completed">
                          <a [routerLink]="['/tours/create/step1']">
                              <span><i class="fa fa-check" aria-hidden="true"></i></span>
                              <div class="tab-detail">
                                  <h4>Tour Details</h4>
                                  <p>General tour information</p>
                              </div>
                          </a>
                      </li>
                      <li class="active">
                          <a href="javascript:void(0)">
                              <span>2</span>
                              <div class="tab-detail">
                                  <h4>Tour Schedule</h4>
                                  <p>Tour availability & Prices</p>
                              </div>
                          </a>
                      </li>
                      <li class="disabled">
                          <a href="javascript:void(0)">
                              <span>3</span>
                              <div class="tab-detail">
                                  <h4>Tour Itinerary</h4>
                                  <p>Day by day schedule</p>
                              </div>
                          </a>
                      </li>
                      <li class="disabled">
                          <a href="javascript:void(0)">
                              <span>4</span>
                              <div class="tab-detail">
                                  <h4>Tour Gallery</h4>
                                  <p>Gorgeous images</p>
                              </div>
                          </a>
                      </li>
                      <li class="disabled">
                          <a href="javascript:void(0)">
                              <span>5</span>
                              <div class="tab-detail">
                                  <h4>Inclusion & Policy</h4>
                                  <p>Last thing customer need to know</p>
                              </div>
                          </a>
                      </li>
                      <li class="disabled">
                          <a href="javascript:void(0)">
                              <span>6</span>
                              <div class="tab-detail">
                                  <h4>Review</h4>
                                  <p>Make sure everything is correct</p>
                              </div>
                          </a>
                      </li>
                  </ul>
              </div>
              <div class="col-md-8">
                <form [formGroup]="step2Form" #f="ngForm">
                    <section class="right-wrap tour-detail">
                        <div class="tour-header">
                            <h5>Step 2</h5>
                            <h3>Tour Schedule</h3>
                            <p>Mauris non tempor quam, et lacinia sapien. Mauris accumsan eros eget libero posuere vulputate. Etiam elit elit, elementum sed varius at, adipiscing vitae est. </p>
                        </div>
                        <div class="steps step2-form ">
                          <div class="row">
                            <div class="col-sm-12">
                              <h4>Add Tour Schedule</h4>
                            </div>
                          </div>
                          <div class="row">
                                <div class="col-sm-4">
                                  <div class="form-group">
                                        <label for="datetimepicker1">START DATE *</label>
                                          <div class="input-wrap">
                                              <input type="text" class="form-control" id="datetimepicker1" formControlName="startDate" placeholder="Pick Departure Date"/>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="col-sm-4">
                                  <div class="form-group">
                                        <label for="datetimepicker2">END DATE *</label>
                                          <div class="input-wrap">
                                              <input type="text" class="form-control" id="datetimepicker2" formControlName="endDate" placeholder="Pick Return Date"/>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="col-sm-4">
                                  <div class="form-group">
                                        <label for="seats">Available Seats *</label>
                                          <div class="input-wrap">
                                              <input type="number" class="form-control" id="seats" placeholder="Available Seats" formControlName="seats" />
                                          </div>
                                          <div *ngIf="step2Form.controls['seats'].errors && step2Form.controls['seats'].touched" class="has-error">
                                            <div *ngIf="step2Form.controls.seats.hasError('min')">Min value required is 1.</div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="row">
                                <div class="col-sm-12">
                                  <div class="form-group">
                                    <label for="price">SCHEDULE PRICE *</label>
                                      <div class="table-responsive price-table">
                                        <table class="table">
                                          <thead>
                                            <tr>
                                              <th>Price/Person</th>
                                              <th>1</th>
                                              <th>2</th>
                                              <th>3</th>
                                              <th>4</th>
                                              <th>Above 4</th>
                                            </tr>
                                          </thead>
                                          <tbody formArrayName="price">
                                            <tr >
                                              <td>Adult Price (USD$)</td>
                                              <td *ngFor="let row of step2Form.controls.price.controls; let i=index" [formGroupName]="i">
                                                <input type="hidden" formControlName="numOfPersons" [value]="(i+1)" />
                                                <input type="number" class="form-control" formControlName="adult"/>
                                              </td>
                                            </tr>
                                            <tr >
                                              <td>Child Price (USD$)</td>
                                              <td *ngFor="let row of step2Form.controls.price.controls; let i=index" [formGroupName]="i">
                                                <input type="number" class="form-control" formControlName="child"/>
                                              </td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </div>
                                      <div class="form-group  bottom-btn">
                                        <button type="button" class="btn green-btn pull-right" (click)="step2()" [disabled]="!this.step2Form.valid">Add Schedule<span><i class="fa fa-angle-right" aria-hidden="true"></i></span></button>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="row" *ngIf="dateRange?.length > 0">
                            <div class="col-sm-12">
                              <div class="table-wrapper table-responsive status-table">
                                <table class="table table-striped">
                                  <thead>
                                    <tr>
                                      <th>Start Date</th>
                                      <th>End Date</th>
                                      <th>Seats</th>
                                      <th>Price(USD$)</th>
                                      <th></th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr *ngFor="let item of dateRange; let i=index;">
                                      <td>{{item.startDate | date: 'dd/MM/yyyy'}}</td>
                                      <td>{{item.endDate | date: 'dd/MM/yyyy'}}</td>
                                      <td>{{item.numOfSeats}}</td>
                                      <td>
                                        ${{item.price[0]?.adult}}
                                        <span>
                                          <button (click)="selDateRange=item" type="button" data-toggle="modal" data-target="#myModal"><i class="fa fa-info-circle" aria-hidden="true"></i></button>
                                        </span>
                                      </td>
                                      <td><a href="javascript:void(0)" (click)="removeDateRange(i)">Remove</a></td>
                                    </tr>

                                  </tbody>
                                  </table>
                                </div>
                            </div>
                          </div>
                        </div>
                    </section>
                    <div class="form-group  bottom-btn">
                      <button type="button" class="btn grey-btn pull-left" [routerLink]="['/tours/create/step1']"><span><i class="fa fa-angle-left" aria-hidden="true"></i></span>Back</button>
                      <button type="button" class="btn green-btn pull-right" (click)="next()">Next<span><i class="fa fa-angle-right" aria-hidden="true"></i></span></button>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
  <div class=" modal fade bd-example-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="top: 20%; left: 10%;">
    <div class="modal-dialog" role="document">
      <div class="modal-content arrow_box">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Schedule Pricing</h5>
        </div>
        <div class="modal-body">
          <table class="table hover-table" *ngIf="selDateRange">
            <thead>
              <tr>
                <th>People</th>
                <th>Adult</th>
                <th>Child</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of selDateRange.price">
                <td>{{row.numOfPersons}}</td>
                <td>${{row.adult}}</td>
                <td>${{row.child}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  </div>
</main>
